@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  /* Victor Verion */
  --darker-color: #da7f8f;
  --dark-color: #a7bbc7;
  --light-color: #e1e5ea;
  --lighter-color: #faf3f3;

  /* Xinfie version */
  /* --darker-color: #f87474;
  --dark-color: #FFB3B3;
  --light-color: #ffb562;
  --lighter-color: #F9F2ED; */

  --shade: #ffffff;
  --h2: 1.1rem;
  --h3: 1.05rem;
  --p: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand';
  /* font-family: 'Roboto'; */
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: var(--darker-color);
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.5);
  z-index: 10;
}

h1 {
  width: clamp(150px, 20%, 300px);
  font-size: clamp(1.3rem, 2.65vw, 2.3rem);
  padding: 0.5rem 1rem;
  color: white;
  text-shadow: 1px 1px 4px #000;
}

.big-add {
  padding: 0 1rem;
  background-color: var(--light-color);
  font-size: 3rem;
  color: white;
  text-shadow: 1px 1px 4px #000;
}

.big-add:hover {
  color: var(--darker-color);
  text-shadow: none;
}

.big-add:active {
  transform: translateY(5%);
}

label {
  color: white;
  padding: 0 1rem;
}

.quote {
  flex: 1;
  padding: 0.5rem;
  color: white;
  text-align: right;
}

main {
  flex: 1;
  display: flex;
}

.sidebar {
  background-color: var(--dark-color);
  padding: 1rem;
  width: clamp(150px, 20%, 300px);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.views,
.groups,
.inbox-container,
.help-container {
  border: 1px dashed #000;
  padding: 0.5rem;
}

.inbox,
.groups-header,
.project-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view,
.inbox-count {
  line-height: 1.3rem;
  font-size: var(--h2);
  margin: 0.2rem 0;
}

.view {
  width: 100%;
  cursor: pointer;
}

.view:hover {
  /* background-color: var(--lighter-color); */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 0 10px 10px 0;
}

.view.active {
  background-color: var(--lighter-color);
  border-radius: 0 10px 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.mdi.mdi-tray-plus {
  font-family: inherit;
}

.groups {
  padding: 0.5rem;
  font-size: var(--h2);
}

ul {
  list-style-type: none;
}

.group-header {
  display: grid;
  grid-template-columns: 1rem auto 1rem;
}

.group {
  font-size: var(--h3);
  background-color: var(--dark-color);
  text-align: left;
}

/* .group-count,
.add {
  text-align: right;
} */

/* .project-container {
  padding: 0.1rem 1rem;
} */



.details {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: auto 1rem 2rem 1rem;
  gap: 0.2rem;
}

.edit-group-name {
  background-color: var(--lighter-color);
  /* outline: none; */
  border: none;
}

.project-count {
  font-family: inherit;
  font-size: var(--p);
}

.edit-group {
  cursor: pointer;
  padding: 0 1rem;
}

.edit-groups:hover,
.edit-group:hover {
  text-shadow: 0px 0px 4px var(--lighter-color);
  color: white;
}

.project-container, project-details {
  display: flex;
  justify-content: space-between;
}

.project {
  font-family: inherit;
  font-size: var(--p);
  display: block;
  /* list-style-type: disc; */
}



.help {
  cursor: pointer;
  font-size: var(--h2);
}

.help p {
  font-family: 'Quicksand';
  font-size: var(--p);
  padding-left: 1rem;
}

.content {
  background-color: var(--lighter-color);
  flex: 1;
  padding: 1rem;
}

.section {
  margin: 1rem 0;
}

.section-header {
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.2rem 0;
}

.task {
  display: grid;
  grid-template-columns: 1fr 1fr 20fr 4fr 5fr 5fr 1fr 1fr;
  gap: 0.5rem;
  border-bottom: 1px dashed #ccc;
  margin: 3px 0;
  padding: 0.5rem 0;
}

#focus-sort,
#status-sort,
#description-sort,
#project-sort,
#start-date-sort,
#due-date-sort {
  cursor: pointer;
}

.task-item,
.task-task {
  background-color: var(--lighter-color);
  border: none;
  outline: none;
  font-size: 1rem;
}

.task-item:focus,
.task-task:focus {
  outline: 1px solid #bb9981;
}

.task-focus,
.task-item {
  text-align: center;
}

.task-focus {
  cursor: pointer;
}

.task-task {
  flex: 1;
  padding: 0 0.5rem;
  resize: none;
  height: 24px;
}

.overdue {
  color: red;
}

.overstart {
  color: orange;
}

/* If a date field is required and it is invalid (empty), it is shown as transparent */
input[type='date']:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
/* When focused on, the color is black */
input[type='date']:focus::-webkit-datetime-edit {
  color: black !important;
}

/* .task-task textarea::-webkit-scrollbar {
  width: 0px;
} */

/* Hide calendar icon in date input */
/* input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
} */

footer {
  background-color: var(--darker-color);
  text-align: center;
  color: white;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
  transition: ease-in-out 0.5s;
  z-index: 10;
}

.modal.active {
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  scale: 1;
}

.overlay {
  opacity: 0.3;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  pointer-events: none;
  transition: 0.5s ease-in-out;
}

.overlay.active {
  background-color: black;
  opacity: 0.5;
  pointer-events: all;
}

#add-task-dialog {
  padding: 1rem;
  background-color: var(--light-color);
}

#add-task-dialog li {
  display: flex;
  justify-content: space-between;
}
